@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  color: var(--foreground);
  /* background: #7cd9c3 ; */
  font-family: 'Dancing Script', cursive;
  background-color: #7cd9c3; /* Dark background color */
  color: brown;
}
